<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link rel="stylesheet" href="footer.css" type="text/css">
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
</head>

<body>
    <div class="flex-footer">
        <div style="flex-grow: 8">
            <img
                src="../../src/footer/logoWhite.png"/>
        </div>
        <div style="flex-grow: 1">
            <h3>Contact</h3>
            <p>+33 6 70 02 53 41</p>
            <p>carbonshape666@gmail.com</p>
        </div>
        <div style="flex-grow: 1">
            <h3>Adresse</h3>
            <p>Asnières sur Seine</p>
            <p>92600</p>
        </div>
    </div>
    <div class="flex-footer">
        <div style="flex-grow: 8">
            <p>© carbonshape 2020</p>
        </div>
        <div style="flex-grow: 2">
            <p class="follow">Suivez carbonshape sur :</p>
        </div>
        <div style="flex-grow: 1">
            <img style="margin-right: 10px;" 
            src="../../src/footer/facebook.png"/>
            <img style="margin-right: 10px;"
            src="../../src/footer/instagram.png"/>
            <img style="margin-right: 10px;"
            src="../../src/footer/pinterest.png"/>
        </div>
    </div>
</body>

</html>