<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarbonShape - Ducati</title>
    <link rel="stylesheet" href="../components/nav/nav.css" type="text/css">
    <link rel="stylesheet" href="../components/footer/footer.css" type="text/css">
    <link rel="stylesheet" href="../css/global.css" type="text/css">
</head>

<body>
    <!--nav-->
    <div class="flex-nav">
        <div style="flex-grow: 8">
            <img src="../src/nav/logoBlack.png" />
        </div>
        <div style="flex-grow: 1">
            <h3>Contact</h3>
            <p>+33 6 70 02 53 41</p>
            <p>carbonshape666@gmail.com</p>
        </div>
        <div style="flex-grow: 1">
            <h3>Adresse</h3>
            <p>Asnières sur Seine</p>
            <p>92600</p>
        </div>
    </div>

    <ul class="topnav navdisplay">
        <li><a href="#contact">Contact</a></li>
        <li><a class="active" href="#presses">Presses</a></li>
        <li><a href="../projets.html">Réalisations</a></li>
        <li><a href="#apropos">A propos</a></li>
        <li><a href="../index.html">Accueil</a></li>
    </ul>

    <div style="z-index: 2;" class="dropdown toggle">
        <button class="dropbtn">Menu</button>
        <div style="z-index: 2;" class="dropdown-content">
          <li><a href="#contact">Contact</a></li>
          <li><a href="#presses">Presses</a></li>
          <li><a href="./templates/projets.html">Réalisations</a></li>
          <li><a href="#apropos">A propos</a></li>
          <li><a class="active" href="./index.html">Accueil</a></li>
        </div>
      </div>
    <!--nav-->

    <!--photo_01-->
    <div class="flex-container">
        <div class="fullsize">
            <img class="zoom" src="../src/presse01.jpg" />
        </div>
    </div>
    <!--photo_01-->
    <!--introduction-->
    <div class="left vertical">
        <div class="padding">
            <h1>Cursus tortor in placerat dolor.</h1>
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</h2>
        </div>
    </div>
    <!--introduction-->
    <!--article-->
    <div class="left vertical">
        <div class="padding">
            <h3>Sed ut perspiciatis unde omnis</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam proin egestas consectetur convallis nulla
                lectus eget volutpat ac. Donec id condimentum magnis vel et. Et nibh ornare lectus pellentesque ipsum,
                donec fames aenean. Lorem cum faucibus rhoncus, curabitur dignissim nisl. Magna quis arcu ut elit odio
                ante proin ullamcorper varius. Montes, at aliquet porta platea mollis ac pellentesque iaculis. Imperdiet
                nulla sagittis duis diam eget odio tempor facilisi nisl. Blandit sit tortor nibh gravida consequat, mi,
                tincidunt enim integer. Auctor purus, proin orci pellentesque arcu, consequat lectus lorem faucibus.
                Morbi sed lobortis dui ac nec mi. Ullamcorper dignissim justo id dui etiam ornare. Tellus donec viverra
                metus, quam in sapien aliquam. Aliquam laoreet diam elit et sed.
                Felis lectus vel erat ornare praesent. Et elit massa cras duis odio bibendum malesuada risus. Eu non id
                amet eget et, amet mus etiam et. Sit habitant malesuada tincidunt non donec urna nec sed ultricies.
                Morbi iaculis tortor morbi donec luctus purus risus integer. Varius porttitor turpis maecenas vel cursus
                sed semper nibh. Ut magna volutpat sem dui adipiscing auctor id et. Laoreet dignissim purus faucibus
                fermentum aliquet feugiat diam. Ut quis gravida mauris est ipsum ultrices. Nunc, vel neque integer elit
                a, lorem tortor, amet nisl. Risus mauris, aliquam, et adipiscing ac. Feugiat fermentum blandit ipsum
                commodo commodo id urna tincidunt. Malesuada felis tristique volutpat scelerisque mi, a quis fames.
                Sed massa tincidunt ac donec elementum rutrum. Consectetur scelerisque vestibulum tristique porta diam
                tellus. Sagittis et mi faucibus nulla congue dolor ac. Gravida amet venenatis blandit in molestie leo
                purus. Enim luctus justo, id sagittis dui turpis id. Iaculis vel sit quam vestibulum convallis integer
                vitae neque, potenti. Volutpat egestas id sed vel scelerisque convallis id tristique. In malesuada
                viverra tincidunt mi etiam. Bibendum consequat ut vel varius nunc lectus cursus tellus augue.
                Fermentum dictum eros in et ornare donec risus amet. Volutpat velit lorem urna praesent non blandit
                ultrices amet. Pharetra molestie ac dolor cras sapien felis, consequat sit. Pulvinar nisl eget mauris,
                imperdiet. Aliquet ridiculus platea pellentesque ut diam volutpat commodo et. Risus risus non at aenean.
                Viverra mauris viverra dolor habitant consequat nisi, felis. Nulla amet sed ac, rutrum.
                Quisque eget diam non condimentum volutpat, viverra scelerisque morbi. Eros, neque scelerisque vel
                mauris viverra sit a blandit non. Neque nam quis consequat bibendum faucibus faucibus. Nisl netus nulla
                blandit ullamcorper imperdiet sit quam habitant. Id commodo scelerisque nisi, pulvinar pellentesque ut
                ut semper. Mattis bibendum dolor dui posuere vitae gravida ut pellentesque. Id semper amet faucibus
                proin arcu viverra lorem aliquam nullam. Neque phasellus posuere orci nullam elementum sed pellentesque
                sed. Quis quam tempus nunc blandit et blandit viverra et. Scelerisque risus ullamcorper nec facilisi
                nulla arcu adipiscing suspendisse euismod. Ullamcorper ac in viverra risus.
                Vitae malesuada nisi feugiat vel amet enim tellus massa. Amet adipiscing cras adipiscing tellus
                imperdiet dictum sed. Pretium sed cras laoreet gravida ipsum. Massa velit enim at est gravida mattis
                massa. Volutpat amet, hendrerit dui gravida nascetur neque. Duis dignissim lacus sit egestas. Non, nibh
                montes, tellus mauris cursus tincidunt leo turpis. Lobortis sagittis venenatis enim, sed tellus id
                tristique. Sed tristique proin eleifend mus id. Elit nibh odio feugiat dignissim quis aenean consequat,
                ut eget.
                Elit lacus in ultrices id commodo volutpat, ut. Turpis sed luctus eget metus lobortis. Non tortor ornare
                aliquam lorem nisi malesuada neque, proin ante. Fermentum, volutpat turpis consequat molestie gravida
                enim lectus. Est integer leo turpis sit pharetra, tellus id dis cursus. At venenatis nulla venenatis
                platea non viverra orci. Tellus tristique ac faucibus vitae.
                Amet tortor massa vehicula pretium, id duis molestie malesuada. Sed arcu adipiscing quis sed leo at.
                Sapien felis quam tellus dolor id. Lectus cras tincidunt fermentum et, dignissim vitae odio. A tortor
                laoreet ut eu faucibus id. Mi diam malesuada venenatis lobortis gravida. Vel elit dolor turpis libero,
                feugiat pellentesque tempor semper. Enim tempus elementum neque, tincidunt ut felis aliquet. Viverra
                convallis et diam eu nunc nibh viverra laoreet. Cursus proin odio eget metus dui. Viverra lectus ornare
                penatibus sed mauris, purus erat integer morbi. Sapien sollicitudin diam risus porta dignissim urna.
                At faucibus amet et sed feugiat duis massa ipsum libero. Tincidunt tortor massa nulla tellus elementum.
                Sed turpis facilisis venenatis non viverra consectetur. Cursus dignissim condimentum massa gravida sit
                interdum diam aliquet adipiscing. Scelerisque sit pulvinar dolor eget bibendum. Euismod amet, morbi elit
                tincidunt enim volutpat et. Amet diam facilisi diam vulputate nibh risus consectetur. Commodo, sapien
                lectus proin elit. Sit posuere convallis cursus aliquam aliquam dolor nisl nunc. Faucibus sem volutpat
                dis lacus, neque, arcu nulla lectus. Ipsum et, arcu morbi eget. Viverra ut quisque faucibus viverra
                urna. Est enim lectus in phasellus sed duis pellentesque euismod tristique. Consectetur eu fermentum
                vestibulum cursus adipiscing ullamcorper.
                Sed metus venenatis elementum luctus viverra. Amet in vestibulum risus mauris bibendum et eget. Maecenas
                eget cursus fermentum gravida scelerisque sit. Neque, felis lorem adipiscing pulvinar duis et blandit
                diam purus. Vitae cursus quisque mi, duis orci. Dolor non mattis tristique ut ut et lobortis id dictum.
                Congue sollicitudin aliquet viverra sit mi purus. Molestie elit vulputate tincidunt ullamcorper lacus,
                id vulputate rhoncus. Nisl sollicitudin at lorem est aenean. Hendrerit mollis nisl sit quis sapien non.
                Platea dolor vitae, sed tristique. Tempus a amet pellentesque sagittis, magnis egestas in. Justo, amet
                eget ultrices tincidunt in. Mollis vitae a, eu a turpis est at lorem lacus. At bibendum amet blandit id
                penatibus sit tortor imperdiet. Urna feugiat tortor diam amet in ut quam sem lectus. Scelerisque
                consequat nisl a pharetra pellentesque. Est quam turpis lacus cursus vulputate pellentesque.
                Ultrices aenean porttitor tincidunt id quam at pulvinar. Tempor tortor a placerat sed non egestas
                ultrices laoreet id. Quis vel orci, tellus faucibus turpis duis aliquet eu. Pulvinar aliquam ac in
                ridiculus. Cras interdum varius sed fusce nam penatibus vitae penatibus.
            </p>
        </div>
    </div>
    <!--article-->

    <!--footer-->
    <div class="flex-footer">
        <div style="flex-grow: 8">
            <img src="../src/footer/logoWhite.png" />
        </div>
        <div style="flex-grow: 1">
            <h3>Contact</h3>
            <p>+33 6 70 02 53 41</p>
            <p>carbonshape666@gmail.com</p>
        </div>
        <div style="flex-grow: 1">
            <h3>Adresse</h3>
            <p>Asnières sur Seine</p>
            <p>92600</p>
        </div>
    </div>
    <div class="flex-footer">
        <div style="flex-grow: 8">
            <p>© carbonshape 2020</p>
        </div>
        <div style="flex-grow: 2">
            <p class="follow">Suivez carbonshape sur :</p>
        </div>
        <div style="flex-grow: 1">
            <img style="margin-right: 10px;" src="../src/footer/facebook.png" />
            <img style="margin-right: 10px;" src="../src/footer/instagram.png" />
            <img style="margin-right: 10px;" src="../src/footer/pinterest.png" />
        </div>
    </div>
    <!--footer-->
</body>

</html>