<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CarbonShape - Réalisations</title>
  <link rel="stylesheet" href="../components/nav/nav.css" type="text/css">
  <link rel="stylesheet" href="../components/footer/footer.css" type="text/css">
  <link rel="stylesheet" href="../css/global.css" type="text/css">
</head>

<body>
  <!--nav-->
  <div class="flex-nav">
    <div style="flex-grow: 8">
      <img src="../src/nav/logoBlack.png" />
    </div>
    <div style="flex-grow: 1">
      <h3>Contact</h3>
      <p>+33 6 70 02 53 41</p>
      <p>carbonshape666@gmail.com</p>
    </div>
    <div style="flex-grow: 1">
      <h3>Adresse</h3>
      <p>Asnières sur Seine</p>
      <p>92600</p>
    </div>
  </div>

  <ul style="z-index: 2;" class="topnav navdisplay">
    <li><a href="#contact">Contact</a></li>
    <li><a href="#presses">Presses</a></li>
    <li><a class="active" href="./projets.html">Réalisations</a></li>
    <li><a href="#apropos">A propos</a></li>
    <li><a href="../index.html">Accueil</a></li>
  </ul>

  <div style="z-index: 2;" class="dropdown toggle">
    <button class="dropbtn">Menu</button>
    <div style="z-index: 2;" class="dropdown-content">
      <li><a href="#contact">Contact</a></li>
      <li><a href="#presses">Presses</a></li>
      <li><a href="./templates/projets.html">Réalisations</a></li>
      <li><a href="#apropos">A propos</a></li>
      <li><a class="active" href="./index.html">Accueil</a></li>
    </div>
  </div>
  <!--nav-->
  <!--right-->

  <div class="flex-container">
    <div class="padding fullsize">
      <h2>Faucibus sed neque, amet, ipsum habitasse.</h2>
      <a href="./projets/01.html"><button class="button">Découvrir</button></a>
    </div>
    <div class="fullsize">
      <img src="../src/projets/01/projet1.jpg" />
    </div>
  </div>
  <!--right-->
  <!--left-->
  <div class="flex-container">
    <div class="fullsize">
      <img src="../src/projets/02/projet2.jpg" />
    </div>
    <div class="padding fullsize">
      <h2>Amet gravida enim et vel turpis ut imperdiet.</h2>
      <button class="button">Découvrir</button>
    </div>
  </div>
  <!--left-->
  <!--caroussel-->
  <div class="flex-container medium-height">
    <div class="absolute fullsize">
      <img src="../src/projets/03/projet3.jpg" />
    </div>
    <div style="z-index: 1;">
      <h1 class="white">Duis orci eu suspendisse integer faucibus nisi varius.
      </h1>
      <center><button class="button">Découvrir</button></center>
    </div>
  </div>
  <!--caroussel-->
  <!--caroussel-->
      <div class="flex-container medium-height">
        <div class="absolute fullsize">
          <img src="../src/projets/04/projet4.jpg" />
        </div>
        <div style="z-index: 1;">
          <h1 class="white">Mollis urna, aenean risus massa, ut ut vitae.
          </h1>
          <center><a href="./projets/04.html"><button class="button">Découvrir</button></a></center>
        </div>
      </div>

  <!--caroussel-->
  <!--left-->
  <div class="flex-container">
    <div class="fullsize">
      <img src="../src/projets/05/projet5.jpg" />
    </div>
    <div class="padding fullsize">
      <h2>Amet gravida enim et vel turpis ut imperdiet.</h2>
      <a href="./projets/05.html"><button class="button">Découvrir</button></a>
    </div>
  </div>
  <!--left-->
  <!--footer-->
  <div class="flex-footer">
    <div style="flex-grow: 8">
      <img src="../src/footer/logoWhite.png" />
    </div>
    <div style="flex-grow: 1">
      <h3>Contact</h3>
      <p>+33 6 70 02 53 41</p>
      <p>carbonshape666@gmail.com</p>
    </div>
    <div style="flex-grow: 1">
      <h3>Adresse</h3>
      <p>Asnières sur Seine</p>
      <p>92600</p>
    </div>
  </div>
  <div class="flex-footer">
    <div style="flex-grow: 8">
      <p>© carbonshape 2020</p>
    </div>
    <div style="flex-grow: 2">
      <p class="follow">Suivez carbonshape sur :</p>
    </div>
    <div style="flex-grow: 1">
      <img style="margin-right: 10px;" src="../src/footer/facebook.png" />
      <img style="margin-right: 10px;" src="../src/footer/instagram.png" />
      <img style="margin-right: 10px;" src="../src/footer/pinterest.png" />
    </div>
  </div>
  <!--footer-->
</body>

</html>