<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CarbonShape - Ducati</title>
  <link rel="stylesheet" href="../../components/nav/nav.css" type="text/css">
  <link rel="stylesheet" href="../../components/footer/footer.css" type="text/css">
<link rel="stylesheet" href="../../css/global.css" type="text/css">
</head>

<body>
  <!--nav-->
  <div class="flex-nav">
    <div style="flex-grow: 8">
      <img src="../../src/nav/logoBlack.png" />
    </div>
    <div style="flex-grow: 1">
      <h3>Contact</h3>
      <p>+33 6 70 02 53 41</p>
      <p>carbonshape666@gmail.com</p>
    </div>
    <div style="flex-grow: 1">
      <h3>Adresse</h3>
      <p>Asnières sur Seine</p>
      <p>92600</p>
    </div>
  </div>

  <ul class="topnav navdisplay">
    <li><a href="#contact">Contact</a></li>
    <li><a href="#presses">Presses</a></li>
    <li><a class="active" href="../projets.html">Réalisations</a></li>
    <li><a href="#apropos">A propos</a></li>
    <li><a href="../../index.html">Accueil</a></li>
  </ul>

  <div style="z-index: 2;" class="dropdown toggle">
    <button class="dropbtn">Menu</button>
    <div style="z-index: 2;" class="dropdown-content">
      <li><a href="#contact">Contact</a></li>
      <li><a href="#presses">Presses</a></li>
      <li><a href="./templates/projets.html">Réalisations</a></li>
      <li><a href="#apropos">A propos</a></li>
      <li><a class="active" href="./index.html">Accueil</a></li>
    </div>
  </div>
  <!--nav-->

  <!--photo_01-->
  <div class="flex-container">
    <div class="fullsize">
      <img class="zoom" src="../../src/projets/04/projet4.jpg" />
    </div>
  </div>
  <!--photo_01-->
  <!--introduction-->
  <div class="flex-container vertical small-height">
    <h1 class="small-padding center">Risus, in commodo amet euismod vestibulum, ut.</h1>
    <h2 class="small-padding center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</h2>
</div>
  <!--introduction-->

  <!--photo_02-->
  <div class="flex-container">
    <div class="padding fullsize">
      <h3>Sed ut perspiciatis</h3>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
      <h3>Lorem ipsum dolor</h3>
      <p>Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <h3>Nemo enim ipsam</h3>
      <p>Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.
      </p>
    </div>
    <div class="fullsize">
    <img src="../../src/projets/04/photo2.png" />
  </div>
  </div>
  <!--photo_02-->

  <!--photo_03-->
  <div class="flex-container">
    <div class="fullsize">
      <img  src="../../src/projets/04/photo3.png" />
    </div>
  </div>
  <!--photo_03-->

  <!--photo_04, 05-->
  <div class="flex-container">
    <div class="fullsize">
      <img src="../../src/projets/04/photo4.png" />
    </div>
    <div class="fullsize">
      <img src="../../src/projets/04/photo5.png" />
    </div>
  </div>
  <!--photo_04, 05-->

  <!--photo_06-->
  <div class="flex-container">
    <div class="fullsize">
      <img src="../../src/projets/04/photo6.png" />
    </div>
  </div>
  <!--photo_06-->

  <!--photo_07, 08-->
  <div class="flex-container">
    <div class="fullsize">
      <img src="../../src/projets/04/photo7.png" />
    </div>
    <div class="fullsize">
      <img src="../../src/projets/04/photo8.png" />
    </div>
  </div>
  <!--photo_07, 08-->

  <!--photo_09-->
  <div class="flex-container">
    <div class="fullsize">
      <img src="../../src/projets/04/photo9.png" />
    </div>
  </div>
  <!--photo_09-->

  <!--footer-->
  <div class="flex-footer">
    <div style="flex-grow: 8">
      <img src="../../src/footer/logoWhite.png" />
    </div>
    <div style="flex-grow: 1">
      <h3>Contact</h3>
      <p>+33 6 70 02 53 41</p>
      <p>carbonshape666@gmail.com</p>
    </div>
    <div style="flex-grow: 1">
      <h3>Adresse</h3>
      <p>Asnières sur Seine</p>
      <p>92600</p>
    </div>
  </div>
  <div class="flex-footer">
    <div style="flex-grow: 8">
      <p>© carbonshape 2020</p>
    </div>
    <div style="flex-grow: 2">
      <p class="follow">Suivez carbonshape sur :</p>
    </div>
    <div style="flex-grow: 1">
      <img style="margin-right: 10px;" src="../../src/footer/facebook.png" />
      <img style="margin-right: 10px;" src="../../src/footer/instagram.png" />
      <img style="margin-right: 10px;" src="../../src/footer/pinterest.png" />
    </div>
  </div>
  <!--footer-->
</body>

</html>