<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>nav</title>
  <link rel="stylesheet" href="nav.css" type="text/css">
  <link rel="stylesheet" href="../../css/global.css" type="text/css">
</head>

<body>
  <div class="flex-nav">
    <div style="flex-grow: 8">
      <img
        src="../../src/nav/logoBlack.png" />
    </div>
    <div style="flex-grow: 1">
      <h3>Contact</h3>
      <p>+33 6 70 02 53 41</p>
      <p>carbonshape666@gmail.com</p>
    </div>
    <div style="flex-grow: 1">
      <h3>Adresse</h3>
      <p>Asnières sur Seine</p>
      <p>92600</p>
    </div>
  </div>

  <ul class="topnav">
    <li><a href="#contact">Contact</a></li>
    <li><a href="#presses">Presses</a></li>
    <li><a href="#realisations">Réalisations</a></li>
    <li><a href="#apropos">A propos</a></li>
    <li><a class="active" href="#accueil">Accueil</a></li>
  </ul>

</body>

</html>